scripts/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        96
      ],
      "id": "86783657-d7da-4afa-8092-24045db8ceed",
      "name": "Webhook",
      "webhookId": "1a392020-085d-4958-97c9-4f8fe6c622f7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "141c7334-7f39-40f6-b20e-342490be3b23",
              "leftValue": "={{ /union|select|insert|update|delete|drop/.test($json.body.payload) }}",
              "rightValue": ".*(union\nselect\ninsert\nupdate\ndelete\ndrop).*",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "b289d300-45de-46b4-ae17-cfa1176d0db8",
      "name": "If"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "sqli_incidents",
          "mode": "list",
          "cachedResultName": "sqli_incidents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source_ip": "={{ $json.body.ip }}",
            "username_attempt": "={{ $json.body.username }}",
            "malicious_payload": "={{ $json.body.payload }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_ip",
              "displayName": "source_ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username_attempt",
              "displayName": "username_attempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "malicious_payload",
              "displayName": "malicious_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        -208
      ],
      "id": "6304d726-1ea0-4417-9a68-cbfdcd238f76",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "ALwS8lgBKjiPU4rT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "security@agongar.local",
        "toEmail": "soc@agongar.local",
        "subject": "[ALERTA CRÍTICA] Intento de Inyección SQL detectado",
        "html": "=<h2>¡Alerta de Seguridad Crítica!</h2>\n<p>El sistema WAF ha detectado y bloqueado un intento de Inyección SQL.</p>\n<ul>\n  <li><strong>IP Origen:</strong> {{$json.body.ip}}</li>\n  <li><strong>Usuario atacado:</strong> {{$json.body.username}}</li>\n  <li><strong>Payload malicioso:</strong> <span style=\"color:red;\">{{$json.body.payload}}</span></li>\n</ul>\n<p>El incidente ha sido registrado en la base de datos con el ID: {{$workflow.id}}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        80
      ],
      "id": "8924851d-2d6a-4bbd-8746-a9698e990186",
      "name": "Send an Email",
      "webhookId": "2afc6ead-951e-4b9d-b930-6aacbce93443",
      "credentials": {
        "smtp": {
          "id": "U9Islh6Qk4nOQ5CF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.body.payload = item.json.body.payload.toLowerCase();\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        96
      ],
      "id": "e28eab0e-9a0b-437a-8d86-33e9311f1b35",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "1195038665",
        "text": "=🚨 ¡ALERTA CRÍTICA WAF! 🚨\nSe ha bloqueado un intento de Inyección SQL.\n\n🌐 IP: {{$json.body.ip}}\n👤 Usuario: {{$json.body.username}}\n💀 Payload: <code>{{$json.body.payload}}</code>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        -64
      ],
      "id": "97726e63-21aa-4194-bbb1-32c110e9a08f",
      "name": "Send a text message1",
      "webhookId": "48afabf4-6b08-4b80-9c95-9dec9f8550b1",
      "credentials": {
        "telegramApi": {
          "id": "JekjKaojfuHq4NCl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        -64
      ],
      "id": "5068dac8-e125-4538-a3cc-3f7f97546426",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        240
      ],
      "id": "90f4bde8-e13c-42f7-9def-13a688376417",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7da17846-1182-47d4-9e9f-168b6d428460",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fed3064f5e0346b468b840df8b85e8233479a23917c2c352ba334e641ab09827"
  },
  "id": "RA5h41UFLO2cPyno",
  "tags": []
}